beautifulsoup4==4.12.2
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
joblib==1.4.2
lxml==5.3.1
numpy==2.2.4
requests==2.31.0
scikit-learn==1.6.1
scipy==1.15.2
soupsieve==2.5
threadpoolctl==3.6.0
urllib3==2.3.0